footer.footer
  .container
    h3.footer__title Контакты
    .footer__contacts
      .footer__contacts-common
        ul
          li
            dl
              dt ОБЩИЕ
              dd
                a(href="tel:+351282405600") +(351) 282 405 600
              dd
                a(href="tel:+351282405697") +(351) 282 405 697
              dd
                a(href="mailto:info@autodromodoalgarve.com") info@autodromodoalgarve.com
          li
            dl
              dt БИЛЕТЫ
              dd
                a(href="tel:+351282405600") +(351) 282 405 600
              dd
                a(href="mailto:tickets@autodromodoalgarve.com") tickets@autodromodoalgarve.com
          li
            .footer__contacts-social
              a(href="#")
                img(src=require('../images/yt.svg') alt='yt')
              a(href="#")
                img(src=require('../images/ig.svg') alt='ig')
              a(href="#")
                img(src=require('../images/fb.svg') alt='fb')
      .footer__contacts-address
        .footer__contacts-address-top
          dl
            dt АДРЕС
            dd Sitio do Escampadinho, Mexilhoeira Grande, 8500-148 Portimao, Portugal
        .footer__contacts-address-map
          img(src=require('../images/map.jpg') alt='map')
    .footer__bottom
      a(href='#') Design by Varvara Prokopchuk
      a(href='#')
        img(src=require('../images/footer-logo.svg') alt='Varvara Prokopchuk')
      a(href="#") Политика конфиденциальности
